#login_container {
    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
}

#login_box {
    width: 1100px;
    margin: 50px auto 50px;
    overflow: hidden;
}

#uni_container {
    width: 499px;
    margin: 0 auto;
    float: left;
}
.login {
    width: 200px;
    margin: 0 auto;
}


.joinbox {
    font-weight: bold;
    color: #626262;
    font-size: 13px;
    text-decoration: none;
}

#dot {
    min-height: 280px;
    border-right: 1px solid #e0e0e0;
    float: left;
    margin: 0 50px 0;
}

#sms_container {
    width: 499px;
    margin: 0 auto;
    float: left;
}